<h2>Stupid Coaching</h2>

<p class="text text-left"><%= params[:question] %> </p>
<p class="text text-cursive text-left"> -You</p>

<p class="text text-bold text-left bg-warning bg-opacity-10"><%= @answer %></p>
<p class="text text-cursive text-left bg-warning bg-opacity-10"> -Your coach</p>

<%# <a href="ask_path">Ask another question</a> %>

<%= link_to "Ask another question", ask_path, :style=>'text-decoration: none;' %>
