<h2 class="text-header m-5">Stupid Coaching</h2>

<form class="form-control d-flex justify-content-start border-0" action="/answer" data-turbo="false" method="get">
  <input type="text" name="question" placeholder="What's on your mind?">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
